@mixin button() {
	padding: 5px 15px;
	display: inline-block;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 10pt;
	border-radius: 4px;
	outline: 0;

	&::-moz-focus-inner { border: 0; }

	&:hover {
		outline: 0;
	}
	
}