@keyframes rock {
  from { -webkit-transform: rotate(-4deg); }
  70% { -webkit-transform: rotate(5deg); }
  to { -webkit-transform: rotate(-4deg); }
}

section.about {
	padding: 20px;

	.photo {
		margin: 10px auto;
		width: 80%;
		padding: 10px 10px 0 10px;
		background-color: #fff;
		box-shadow: 0 0 20px -5px #000;
		font: 16pt "Nothing You Could Do", cursive;
		color: #620C0C;

		@include respond($desktop-breakpoint) {
			animation:rock 10s ease-in-out infinite alternate;
		}

		&::before {
			display: block;
			background: url('/images/bree.jpg');
			background-size: cover;
			content: '';
			height: 30vh;
			min-height: 150px;
			width: 100%;
		}
	}


}