// Theme
$brand-color: #fff;
$line-color: rgba(255, 255, 255, 0.7);

// Reset Vars
$default-font-family: 'Lato', Arial;
$default-text-color: #fff;
$default-anchor-color: $brand-color;

// Title Font
$title-font-family: "Alex Brush";

// Structure
$common-gutter: 0.7em;

// Common Breakpoints
$desktop-breakpoint: 800px;
