html {
	box-sizing: border-box;
	height: 100%;
	font: 12pt $default-font-family;
	font-weight: 100;
	color: $default-text-color;
}

* {
	box-sizing: inherit;
}

body {
	min-height: 100%;
	background-color: #000;
}

button {
	@include button;
	border: 1px solid $line-color;
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 50px;
	letter-spacing: 10px;
	font-size: 20pt;
	padding: 10px 20px;

	&:hover {
		border-color: #fff;
	}

	&:active {
		background-color: rgba(255, 255, 255, 0.15);
	}
}
